<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大师首页</title>
    <style>
        * {
        margin:0;
        padding:none;
        border:0;
        }
        div {
        width:500px;
        height:200px;
        font-size:3em;
        margin:100px auto;
        text-align: center;
        line-height:200px;
        }
        a {
        text-decoration: none;
        }
    </style>
</head>
<body>
    <div>
        <p><a href="/web/">前端页面</a></p>
        <p><a href="/back/login/">后端页面</a></p>
    </div>
</body>
</html>